<div id="menu-bell" data-menu-height="425" class="menu menu-box-top bg-white">
        <a href="#" class="bell-item">
            <img class="preload-image shadow-icon-large" src="images/empty.png" data-src="images/pictures_people/4s.png">
            <strong>Kolor is Awesome</strong><span class="bg-green2-dark">FRESH</span>
            <em>
                You can setup awesome notifications in a menu as well, add useful news and info here.
            </em>
        </a>
        <a href="#" class="bell-item">
            <img class="preload-image shadow-icon-large" src="images/empty.png" data-src="images/pictures_people/3s.png">
            <strong>Blazing Fast Loading</strong><span class="bg-red-dark">SYSTEM</span>
            <em>
                You can setup awesome notifications in a menu as well, add useful news and info here.
            </em>
        </a>
        <a href="#" class="bell-item">
            <img class="preload-image shadow-icon-large" src="images/empty.png" data-src="images/pictures_people/1s.png">
            <strong>Easy to use and Edit</strong><span class="bg-orange-dark">simple</span>
            <em>
                You can setup awesome notifications in a menu as well, add useful news and info here.
            </em>
        </a>
        <a href="#" class="bell-item bottom-10">
            <img class="preload-image shadow-icon-large" src="images/empty.png" data-src="images/pictures_people/2s.png">
            <strong>Elite Author Quality</strong><span class="bg-blue-dark">quality</span>
            <em>
                You can setup awesome notifications in a menu as well, add useful news and info here.
            </em>
        </a>
        <div class="menu-bar"><div></div></div>
    </div>
