
<div id="preloader" class="preloader-light">
	<h1 class="center-text color-black ultrabold uppercase bottom-0 fa-2x">Kolor</h1>
	<div id="preload-spinner"></div>
	<p>Beautifully Crafted UI & UX.</p>
	<em>This will only take a second. It's totally worth it!</em>
</div>
