<div id="menu-1" class="menu menu-sidebar-left menu-settings">
      <div class="menu-bg gradient-body-1"></div>
      <div class="menu-scroll">
          <div class="menu-header">
              <a class="menu-logo" href="/profile"></a>
              <h1>Welcome</h1>
              <p>Username</p>
          </div>
          <div class="menu-list icon-background-active">
              <em class="menu-divider top-10">Navigation</em>
              <a class="menu-item" href="../dashboard"><i class="fa gradient-green-light fa-home"></i>Dashboard</a>
              <a class="menu-item" href="../events"><i class="fa gradient-red-light fa-star"></i>Events</a>
              <a class="menu-item" href="../donor"><i class="fa gradient-sky-light fa-cog"></i>Donor's List</a>
              <a class="menu-item" data-menu="menu-settings" data-menu-type="menu-box-full"><i class="fa gradient-magenta-light fa-image"></i>Theme Color</a>


              <!-- <a data-submenu="submenu-1" class="menu-item" href="#"><i class="fa gradient-magenta-light fa-image"></i>Media<span></span></a>
              <div id="submenu-1" class="submenu">
                  <a href="galleries.html">Galleries</a>
                  <a href="portfolios.html">Portfolios</a>
              </div> -->

              <em class="menu-divider">Let's get Social</em>
              <a class="menu-item" href="#"><i class="fab facebook-bg fa-facebook-f"></i>Facebook</a>
              <a class="menu-item" href="#"><i class="fab twitter-bg fa-twitter"></i>Twitter</a>

              <em class="menu-divider"></em>
              <a class="menu-item" href="../login"><i class="fa gradient-mint-dark fa-hand-point-right"></i>Logout</a>

          </div>
          <em class="menu-copyright">Copyright <span class="copyright-year"></span>, Enabled. All Rights Reserved</em>
      </div>
</div>
