<div id="menu-1" class="menu menu-sidebar-left menu-settings">
      <div class="menu-bg gradient-body-1"></div>
      <div class="menu-scroll">
          <div class="menu-header">
              <a class="menu-logo" href="/profile"></a>
              <h1>Welcome</h1>
              <p>Rumsan Associates</p>
          </div>
          <div class="menu-list icon-background-active" style="margin-top:25px;">
              <a class="menu-item" href="/dashboard"><i class="fa gradient-green-light fa-user"></i>Dashboard</a>
              <a class="menu-item" href="/events"><i class="fa gradient-red-light fa-calendar"></i>Events</a>
              <!-- <a class="menu-item" href="#"><i class="fa gradient-red-light fa-user-circle"></i>Donors</a> -->
              <a class="menu-item" href="../login"><i class="fa gradient-mint-dark fa-hand-point-right"></i>Logout</a>

              <!-- When submenu might be needed
              <a data-submenu="submenu-1" class="menu-item" href="#"><i class="fa gradient-magenta-light fa-image"></i>Media<span></span></a>
              <div id="submenu-1" class="submenu">
                  <a href="galleries.html">Galleries</a>
                  <a href="portfolios.html">Portfolios</a>
              </div> -->
          </div>
      </div>
</div>
