<!DOCTYPE HTML>
<html lang="en">
<head>

<% include ./_layouts/head %>

</head>

<body>
  <% include ./_layouts/preload %>

<div id="page-transitions" class="page-build">
    <div class="page-bg gradient-body-1"></div>

    <% include ./_layouts/topbar %>

    <% include ./_layouts/sidebar %>

	<div class="page-content header-clear-larger">

    <div class="content-box bg-white">
			<h3 class="uppercase ultrabold top-30 bottom-0 center-text"><i class="fa fa-star color-yellow-dark icon-clear-right"></i>Featured Events</h3>
			<p class="center-text bottom-15">The most popular events so far.</p>
			<div class="double-slider owl-carousel owl-has-dots bottom-15">
				<div class="store-featured-1">
					<a href="/events"><img src="images/placeholders/4a.jpg" alt="img"></a>
					<u>Event 1</u>
					<span class="color-green-dark">Interactive</span>
					<strong>Night Black SmartPhone</strong>
					<em>34GB Capacity, 6GB RAM,  IP68 WaterProof, 50MP Camera</em>
					<div class="store-featured-1-buttons">
						<a href="/events" class="shadow-icon-large store-featured-1-cart"><i class="fa fa-info color-black font-12"></i></a>
						<a href="#" class="shadow-icon-large store-featured-1-favorite"><i class="fa fa-heart color-red-dark font-12"></i></a>
					</div>
				</div>
				<div class="store-featured-1">
					<a href="/events"><img src="images/placeholders/4b.jpg" alt="img"></a>
					<u>$ 599.99</u>
					<span class="color-green-dark">In Stock</span>
					<strong>Pinkish Gold SmartPhone</strong>
					<em>34GB Capacity, 6GB RAM,  IP68 WaterProof, 50MP Camera</em>
					<div class="store-featured-1-buttons">
            <a href="/events" class="shadow-icon-large store-featured-1-cart"><i class="fa fa-info color-black font-12"></i></a>
						<a href="#" class="shadow-icon-large store-featured-1-favorite"><i class="fa fa-heart color-red-dark font-12"></i></a>
					</div>
				</div>
				<div class="store-featured-1">
					<a href="/events"><img src="images/placeholders/4c.jpg" alt="img"></a>
					<u>$ 399.99</u>
					<span class="color-red-dark">Out of Stock</span>
					<strong>Champagne SmartPhone</strong>
					<em>34GB Capacity, 6GB RAM,  IP68 WaterProof, 50MP Camera</em>
					<div class="store-featured-1-buttons">
            <a href="/events" class="shadow-icon-large store-featured-1-cart"><i class="fa fa-info color-black font-12"></i></a>
						<a href="#" class="shadow-icon-large store-featured-1-favorite"><i class="fa fa-heart color-red-dark font-12"></i></a>
					</div>
				</div>
				<div class="store-featured-1">
					<a href="/events"><img src="images/placeholders/4d.jpg" alt="img"></a>
					<u>$ 299.99</u>
					<span class="color-blue-dark">Preorder Available</span>
					<strong>Charcoal Gray SmartPhone</strong>
					<em>34GB Capacity, 6GB RAM,  IP68 WaterProof, 50MP Camera</em>
					<div class="store-featured-1-buttons">
            <a href="/events" class="shadow-icon-large store-featured-1-cart"><i class="fa fa-info color-black font-12"></i></a>
						<a href="#" class="shadow-icon-large store-featured-1-favorite"><i class="fa fa-heart color-red-dark font-12"></i></a>
					</div>
				</div>
			</div>
		</div>

    <div class="content-box shadow-large bg-white">
          <div class="top-25 bottom-25"><iframe class="chartjs-hidden-iframe" tabindex="-1" style="display: block; overflow: hidden; border: 0px; margin: 0px; top: 0px; left: 0px; bottom: 0px; right: 0px; height: 100%; width: 100%; position: absolute; pointer-events: none; z-index: -1;"></iframe>
              <h3 class="center-text regularbold bottom-0">Blood Group Statistics</h3>
              <!-- <p class="center-text small-text color-highlight bottom-30">Growth of Mobile OS 2020</p> -->
              <canvas class="chart" id="vertical-chart" width="612" height="306" style="display: block; height: 153px; width: 306px;"></canvas>
          </div>
      </div>

      <div class="content-box shadow-large bg-white">
                <div class="top-25 bottom-0"><iframe class="chartjs-hidden-iframe" tabindex="-1" style="display: block; overflow: hidden; border: 0px; margin: 0px; top: 0px; left: 0px; bottom: 0px; right: 0px; height: 100%; width: 100%; position: absolute; pointer-events: none; z-index: -1;"></iframe>
                    <h3 class="center-text regularbold bottom-0">Blood Group Statistics</h3>
                    <p class="center-text small-text color-highlight">We can also use this</p>
                    <canvas class="chart" id="doughnut-chart" width="772" height="772" style="display: block; height: 386px; width: 386px;"></canvas>
                </div>
            </div>

    <div class="content-box shadow-large bg-white">
        <div class="top-25 bottom-25"><iframe class="chartjs-hidden-iframe" tabindex="-1" style="display: block; overflow: hidden; border: 0px; margin: 0px; top: 0px; left: 0px; bottom: 0px; right: 0px; height: 100%; width: 100%; position: absolute; pointer-events: none; z-index: -1;"></iframe>
            <h3 class="center-text regularbold bottom-0">Donor Gender Statistics</h3>
            <!-- <p class="center-text small-text color-highlight bottom-30">Social Networks by Popularity in 2017</p> -->
            <canvas class="chart" id="pie-chart" width="772" height="772" style="display: block; height: 386px; width: 386px;"></canvas>
        </div>
    </div>

        <div class="content-box shadow-large bg-white">
              <div class="top-25 bottom-25"><iframe class="chartjs-hidden-iframe" tabindex="-1" style="display: block; overflow: hidden; border: 0px; margin: 0px; top: 0px; left: 0px; bottom: 0px; right: 0px; height: 100%; width: 100%; position: absolute; pointer-events: none; z-index: -1;"></iframe>
                  <h3 class="center-text regularbold bottom-0">Donor Age Statistics</h3>
                  <!-- <p class="center-text small-text color-highlight bottom-30">Growth of Mobile OS 2020</p> -->
                  <canvas class="chart" id="vertical-chart" width="612" height="306" style="display: block; height: 153px; width: 306px;"></canvas>
              </div>
          </div>

	</div>

    <% include ./_layouts/contact-form %>

    <% include ./_layouts/notification %>

	<a href="#" class="back-to-top-badge back-to-top-small shadow-large bg-blue-dark"><i class="fa fa-angle-up"></i>Back to Top</a>
</div>

<% include ./_layouts/foot %>

</body>
