<!DOCTYPE HTML>
<html lang="en">
<head>
<% include ./_layouts/head %>

</head>

<body class="bg-white">

	<% include ./_layouts/preload %>

<div id="page-transitions" class="page-build bg-white">
    <div class="page-content page-content-full">
        <a href="/landing-page" class="cover-back-button back-button"><i class="fa fa-chevron-left font-12 color-white"></i></a>
        <div class="cover-item cover-item-full">
            <div class="cover-content cover-content-center">
                <div class="page-login content-boxed content-boxed-padding top-0 bottom-0">
                    <h3 class="uppercase ultrabold top-10 bottom-0">Login</h3>
                    <p class="smaller-text bottom-30">Please enter your credentials below.</p>
                    <div class="page-login-field top-15">
                        <i class="fa fa-user"></i>
                        <input type="text" placeholder="Username">
                        <em>(required)</em>
                    </div>
                    <div class="page-login-field bottom-15">
                        <i class="fa fa-lock"></i>
                        <input type="password" placeholder="Password">
                        <em>(required)</em>
                    </div>
                    <div class="page-login-links bottom-20">
                        <a class="forgot float-right" href="/page-signup"><i class="fa fa-user float-right"></i>Create Account</a>
                        <a class="create float-left" href="/page-forgot"><i class="fa fa-eye"></i>Forgot Password</a>
                        <div class="clear"></div>
                    </div>
                    <a href="/dashboard" class="button button-red button-full button-round shadow-icon-large button-s uppercase ultrabold bottom-10">LOGIN</a>
                </div>
            </div>
            <div class="cover-item cover-item-full" style="background-image:url(images/pictures_vertical/bg1.jpg);"></div>
            <div class="cover-overlay overlay bg-black opacity-80"></div>
        </div>
    </div>
</div>

<% include ./_layouts/foot %>

</body>
