<!DOCTYPE HTML>
<html lang="en">
<head>
<% include ./_layouts/head %>
</head>

<body>

	<% include ./_layouts/preload %>

<div id="page-transitions" class="page-build">
    <div class="page-bg gradient-body-1"></div>

		<% include ./_layouts/topbar %>

	<div class="page-content header-clear-larger">
        <div class="page-login bg-white">
            <div class="content bottom-0">
                <h3 class="uppercase ultrabold bottom-0 top-10">Register</h3>
                <p class="smaller-text bottom-0">Register now. It's free!</p>
                <div class="page-login-field top-15">
                    <i class="fa fa-user"></i>
                    <input type="text" placeholder="Select a Username">
                    <em>(required)</em>
                </div>
                <div class="page-login-field">
                    <i class="fa fa-at"></i>
                    <input type="text" placeholder="Your your Email">
                    <em>(required)</em>
                </div>
                <div class="page-login-field">
                    <i class="fa fa-lock"></i>
                    <input type="password" placeholder="Enter a Password">
                    <em>(required)</em>
                </div>
                <div class="page-login-field bottom-30">
                    <i class="fa fa-lock"></i>
                    <input type="password" placeholder="Confirm Password">
                    <em>(required)</em>
                </div>
                <div class="page-login-links bottom-10">
                    <a class="forgot center-text" href="/login"><i class="fa fa-user float-right"></i>Alread registered? Sign in here</a>
                    <div class="clear"></div>
                </div>
                <a href="#" class="button button-blue bottom-30 button-full button-round shadow-icon-large button-s uppercase ultrabold">Register Account</a>
                <div class="decoration"></div>
                </div>
        </div>

        <div class="footer footer-detached shadow-large footer-light">
			<a href="#" class="footer-logo"></a>
			<strong>Built with <i class="fas fa-heart color-red-light"></i> by Elites</strong>
			<p class="footer-text">
				Simplicity and power packed into a beautiful, feature filled, fast, mobile template.
			</p>
			<div class="footer-socials">
				<a href="#"><i class="icon-shadow facebook-bg fab fa-facebook-f font-16"></i></a>
				<a href="#"><i class="icon-shadow twitter-bg fab fa-twitter font-16"></i></a>
				<a href="#"><i class="icon-shadow google-bg fab fa-google-plus-g font-16"></i></a>
				<a href="#" data-menu-type="menu-box-bottom" data-menu="menu-share"><i class="icon-shadow instagram-bg fas fa-share-alt font-14"></i></a>
				<a href="#" data-menu-type="menu-box-bottom" data-menu="menu-phone"><i class="icon-shadow bg-green-dark fas fa-phone font-16"></i></a>
			</div>
            <p class="footer-links"><a href="#">Privacy Policy</a> | <a href="#">Terms and Conditions</a> | <a href="#" class="back-to-top"> Back to Top</a></p>
			<p class="footer-copyright">&copy; Enabled <span class="copyright-year"></span>. All rights reserved.</p>
		</div>
	</div>

	<a href="#" class="back-to-top-badge back-to-top-small shadow-large bg-blue-dark"><i class="fa fa-angle-up"></i>Back to Top</a>
</div>

<% include ./_layouts/foot %>

</body>
