<!DOCTYPE HTML>
<html lang="en">
<head>
<% include ./_layouts/head %>

</head>

<body>
	<% include ./_layouts/preload %>

<div id="page-transitions" class="page-build">
    <div class="page-bg gradient-body-1"></div>
			<div class="header shadow-large header-light header-logo-app">
			<a href="" class="back-button header-title">Forgot Password</a>
			<a href="#" class="back-button header-icon header-icon-1"><i class="fas fa-angle-left"></i></a>
	    </div>


	<div class="page-content header-clear-larger">

        <div class="page-login bg-white">
            <img class="preload-image login-bg shadow-medium responsive-image bottom-0" src="images/pictures/8w.jpg" data-src="images/pictures/9w.jpg" alt="img">
            <img class="preload-image login-image shadow-icon-large bottom-10" src="images/pictures/0s.png" data-src="images/pictures/0s.png" alt="img">
            <h3 class="left-15 uppercase ultrabold top-15 bottom-0">Forgot</h3>
            <p class="left-15 smaller-text bottom-15">Recover your password, just enter your email.</p>
            <div class="content bottom-0">
                <div class="page-login-field half-top bottom-30">
                    <i class="fa fa-at"></i>
                    <input type="text" placeholder="What's your Email?">
                    <em>(required)</em>
                </div>
                <a href="/login" class="button button-red button-full button-round shadow-icon-large button-s uppercase ultrabold">Password reset</a>
            </div>
        </div>

        <div class="footer footer-detached shadow-large footer-light">
			<a href="#" class="footer-logo"></a>
			<strong>Built with <i class="fas fa-heart color-red-light"></i> by Elites</strong>
			<p class="footer-text">
				Simplicity and power packed into a beautiful, feature filled, fast, mobile template.
			</p>
			<div class="footer-socials">
				<a href="#"><i class="icon-shadow facebook-bg fab fa-facebook-f font-16"></i></a>
				<a href="#"><i class="icon-shadow twitter-bg fab fa-twitter font-16"></i></a>
				<a href="#"><i class="icon-shadow google-bg fab fa-google-plus-g font-16"></i></a>
				<a href="#" data-menu-type="menu-box-bottom" data-menu="menu-share"><i class="icon-shadow instagram-bg fas fa-share-alt font-14"></i></a>
				<a href="#" data-menu-type="menu-box-bottom" data-menu="menu-phone"><i class="icon-shadow bg-green-dark fas fa-phone font-16"></i></a>
			</div>
            <p class="footer-links"><a href="#">Privacy Policy</a> | <a href="#">Terms and Conditions</a> | <a href="#" class="back-to-top"> Back to Top</a></p>
			<p class="footer-copyright">&copy; Enabled <span class="copyright-year"></span>. All rights reserved.</p>
		</div>
	</div>

	<a href="#" class="back-to-top-badge back-to-top-small shadow-large bg-blue-dark"><i class="fa fa-angle-up"></i>Back to Top</a>
</div>

<% include ./_layouts/foot %>

</body>
