<!DOCTYPE HTML>
<html lang="en">
<head>
  <% include ./_layouts/head %>
</head>

<body>

  <% include ./_layouts/preload %>

<div id="page-transitions" class="page-build">
    <div class="page-bg gradient-body-1"></div>

    <% include ./_layouts/topbar %>

    <% include ./_layouts/sidebar %>

	<div class="page-content header-clear-larger">

        <div class="profile-1 top-50">
            <div class="profile-header top-30">
                <img src="images/empty.png" data-src="images/pictures/0l.jpg" class="responsive-image preload-image">
            </div>
            <div class="profile-header-clear"></div>
            <div class="profile-body shadow-large">
                <a href="#" class="profile-button button shadow-icon-large button-s button-round uppercase bolder button-red button-center">Follow</a>
                <h1 class="profile-heading thin">Karla Black</h1>
                <h2 class="profile-sub-heading bottom-20 color-highlight">Model for PixaBay</h2>
                <p class="center-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis hendrerit dolor eu arcu sollicitudin quis.
                </p>
                <div class="profile-stats">
                    <a href="#"><i class="fab center-text facebook-color fa-facebook"></i>34k</a>
                    <a href="#"><i class="fab center-text twitter-color fa-twitter-square"></i>134k</a>
                    <a href="#"><i class="fab center-text color-orange-dark fa-google-plus-square"></i>138k</a>
                    <div class="clear"></div>
                </div>
                <div class="profile-gallery bottom-20">
                    <a class="show-gallery" href="images/pictures/1t.jpg" alt="img"><img class="preload-image responsive-image round-image shadow-icon-large" src="images/empty.png" data-src="images/pictures/1s.jpg"></a>
                    <a class="show-gallery" href="images/pictures/2t.jpg" alt="img"><img class="preload-image responsive-image round-image shadow-icon-large" src="images/empty.png" data-src="images/pictures/2s.jpg"></a>
                    <a class="show-gallery" href="images/pictures/3t.jpg" alt="img"><img class="preload-image responsive-image round-image shadow-icon-large" src="images/empty.png" data-src="images/pictures/3s.jpg"></a>
                    <a class="show-gallery" href="images/pictures/4t.jpg" alt="img"><img class="preload-image responsive-image round-image shadow-icon-large" src="images/empty.png" data-src="images/pictures/4s.jpg"></a>
                    <a class="show-gallery" href="images/pictures/5t.jpg" alt="img"><img class="preload-image responsive-image round-image shadow-icon-large" src="images/empty.png" data-src="images/pictures/5s.jpg"></a>
                    <a class="show-gallery" href="images/pictures/6t.jpg" alt="img"><img class="preload-image responsive-image round-image shadow-icon-large" src="images/empty.png" data-src="images/pictures/6s.jpg"></a>
                    <a class="show-gallery" href="images/pictures/7t.jpg" alt="img"><img class="preload-image responsive-image round-image shadow-icon-large" src="images/empty.png" data-src="images/pictures/7s.jpg"></a>
                    <a class="show-gallery" href="images/pictures/8t.jpg" alt="img"><img class="preload-image responsive-image round-image shadow-icon-large" src="images/empty.png" data-src="images/pictures/8s.jpg"></a>
                    <a class="show-gallery" href="images/pictures/9t.jpg" alt="img"><img class="preload-image responsive-image round-image shadow-icon-large" src="images/empty.png" data-src="images/pictures/9s.jpg"></a>
                    <div class="clear"></div>
                </div>
            </div>
        </div>

	</div>

    <% include ./_layouts/contact-form %>

    <% include ./_layouts/notification %>

    <% include ./_layouts/theme %>

	<a href="#" class="back-to-top-badge back-to-top-small shadow-large bg-blue-dark"><i class="fa fa-angle-up"></i>Back to Top</a>
</div>

<% include ./_layouts/foot %>

</body>
